/* styles go here*/
/* Common styles od sections */
.section {
  background-color: #f2f2f2;
  height: 700px;
  margin-bottom: 20px;
  padding: 20px;
}

/* Navbar for mobile menu */
.navbar-nav {
  background-color: #ddd;
}

/* Center menu text */
.navbar-nav > li > a {
  text-align: center;
}

/* Styles for text inside every section */
.section-text {
  background-color: #7f00ff; 
  color: white; 
  padding: 10px;
  border-radius: 5px;
}
